.align-right {
  margin-bottom: 1rem;
  margin-left: 1rem;
  float: right;
}

.align-left {
  margin-right: 1rem;
  margin-bottom: 1rem;
  float: left;
}

.align-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

figcaption.align-right {
  text-align: right;
}

figcaption.align-left {
  text-align: left;
}

figcaption.align-center {
  text-align: center;
}

#wrapper{
  width: 100%;
  padding: 10px;
}

section {
  float: left;
  width: 70%;
  height: 400px;
}

aside {
  float: left;
  width: 20%;
  height: 400px;
}

columna {
  float: left;
  width: 48%;
}

columnb {
  float: right;
  width: 48%;
}
